LogicApp/sktestlogicapp/process-message/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Debug_Log_TriggerBody": {
        "type": "Compose",
        "inputs": "@triggerBody()",
        "runAfter": {},
        "description": "DEBUG: Log the full trigger body to validate structure (wrapping check)"
      },
      "Log_TriggerBody_To_Proxy": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost:7075/logpayload",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": "@triggerBody()"
        },
        "runAfter": {
          "Debug_Log_TriggerBody": [
            "Succeeded"
          ]
        },
        "description": "POST trigger body to ServiceBusProxy for logging"
      },
      "Initialize_Correlation_ID": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "CorrelationId",
              "type": "string",
              "value": "@{coalesce(triggerBody()?['Properties']?['CorrelationId'], triggerBody()?['CorrelationId'], guid())}"
            }
          ]
        },
        "runAfter": {},
        "description": "Extract or generate correlation ID from Service Bus message properties - Best Practice #8"
      },
      "Log_Trigger_Received": {
        "type": "Compose",
        "inputs": {
          "event": "TriggerFired",
          "timestamp": "@utcNow()",
          "workflow": "process-message",
          "triggerOutputs": "@triggerOutputs()",
          "triggerBody": "@triggerBody()",
          "message": "Service Bus trigger fired - message received from queue"
        },
        "runAfter": {
          "Initialize_Correlation_ID": [
            "Succeeded"
          ]
        },
        "description": "LOG: Trigger fired - captures full trigger output for debugging"
      },
      "Log_Request_Received": {
        "type": "Compose",
        "inputs": {
          "correlationId": "@variables('CorrelationId')",
          "event": "MessageReceived",
          "timestamp": "@utcNow()",
          "workflow": "process-message",
          "messageProperties": "@triggerBody()?['Properties']",
          "contentType": "@triggerBody()?['ContentType']"
        },
        "runAfter": {
            "Debug_Log_TriggerBody": [
              "Succeeded"
            ]
        },
        "description": "LOG: Message details - Best Practice #7"
      },
      "Parse_Message_Payload": {
        "type": "Compose",
        "inputs": {
          "triggerBodyDump": "@triggerBody()",
          "messageId": "@coalesce(if(not(empty(triggerBody()?['ContentDataJson'])), triggerBody()?['ContentDataJson']?['messageId'], if(not(empty(triggerBody()?['ContentData'])), json(base64ToString(triggerBody()?['ContentData']))?['messageId'], null)), triggerBody()?['MessageId'], 'NO_MESSAGE_ID')",
          "hasContentDataJson": "@not(empty(triggerBody()?['ContentDataJson']))",
          "hasContentData": "@not(empty(triggerBody()?['ContentData']))",
          "rawPayload": "@if(not(empty(triggerBody()?['ContentDataJson'])), triggerBody()?['ContentDataJson'], if(not(empty(triggerBody()?['ContentData'])), json(base64ToString(triggerBody()?['ContentData'])), json('{}')))",
          "businessMessageId": "@coalesce(if(not(empty(triggerBody()?['ContentDataJson'])), triggerBody()?['ContentDataJson']?['messageId'], if(not(empty(triggerBody()?['ContentData'])), json(base64ToString(triggerBody()?['ContentData']))?['messageId'], null)), 'NO_BUSINESS_MESSAGE_ID')"
        },
        "runAfter": {
          "Log_Request_Received": [
            "Succeeded"
          ]
        },
        "description": "Extract message ID and parse payload - ContentDataJson or base64 decode ContentData"
      },
      "Log_Parsed_Message_To_Proxy": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost:7075/logpayload",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": "@body('Parse_Message_Payload')"
        },
        "runAfter": {
          "Parse_Message_Payload": [
            "Succeeded"
          ]
        },
        "description": "POST parsed message payload to ServiceBusProxy for debugging"
      },
      "Log_Message_Decoded": {
        "type": "Compose",
        "inputs": {
          "event": "MessageDecoded",
          "timestamp": "@utcNow()",
          "correlationId": "@variables('CorrelationId')",
          "messageId": "@{body('Parse_Message_Payload')?['messageId']}",
          "hasContentDataJson": "@{body('Parse_Message_Payload')?['hasContentDataJson']}",
          "hasContentData": "@{body('Parse_Message_Payload')?['hasContentData']}",
          "payloadType": "@{coalesce(string(body('Parse_Message_Payload')?['rawPayload']?['eventType']), 'UNKNOWN')}",
          "payloadLength": "@length(coalesce(string(body('Parse_Message_Payload')?['rawPayload']), ''))",
          "message": "Message parsed successfully"
        },
        "runAfter": {
          "Parse_Message_Payload": [
            "Succeeded"
          ]
        },
        "description": "LOG: Message parsed from ContentDataJson or base64 decoded"
      },
      "Query_Inbox": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "sql"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[Inbox]'))}/items",
          "queries": {
            "$filter": "MessageId eq '@{body('Parse_Message_Payload')?['messageId']}'",
            "$top": 1
          }
        },
        "runAfter": {
          "Log_Message_Decoded": [
            "Succeeded"
          ]
        },
        "runtimeConfiguration": {
          "retryPolicy": {
            "type": "exponential",
            "count": 3,
            "interval": "PT5S",
            "maximumInterval": "PT20S",
            "minimumInterval": "PT5S"
          }
        },
        "description": "Idempotent read - RETRY ENABLED (Best Practice #9)"
      },
      "Check_Inbox_For_Duplicate": {
        "type": "Compose",
        "inputs": {
          "queryResults": "@body('Query_Inbox')?['value']",
          "resultCount": "@length(coalesce(body('Query_Inbox')?['value'], createArray()))",
          "isDuplicate": "@greater(length(coalesce(body('Query_Inbox')?['value'], createArray())), 0)"
        },
        "runAfter": {
          "Query_Inbox": [
            "Succeeded"
          ]
        },
        "description": "Check if query returned any results - indicates duplicate"
      },
      "Is_Duplicate": {
        "type": "If",
        "expression": {
          "and": [
            {
              "equals": [
                "@body('Check_Inbox_For_Duplicate')?['isDuplicate']",
                true
              ]
            }
          ]
        },
        "actions": {
          "Log_Duplicate_Detected": {
            "type": "Compose",
            "inputs": {
              "correlationId": "@variables('CorrelationId')",
              "messageId": "@body('Parse_Message_Payload')?['messageId']",
              "event": "DuplicateDetected",
              "timestamp": "@utcNow()"
            },
            "runAfter": {},
            "description": "Log duplicate to Application Insights"
          },
          "Terminate_Duplicate": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Succeeded"
            },
            "runAfter": {
              "Log_Duplicate_Detected": [
                "Succeeded"
              ]
            },
            "description": "Terminate successfully - duplicate message already processed"
          }
        },
        "runAfter": {
          "Check_Inbox_For_Duplicate": [
            "Succeeded"
          ]
        },
        "else": {
          "actions": {
            "Insert_Into_Inbox": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "referenceName": "sql"
                  }
                },
                "method": "post",
                 "body": {
                  "MessageId": "@body('Parse_Message_Payload')?['messageId']",
                  "SourceTopic": "@parameters('DEFAULT_SOURCE_TOPIC')",
                  "CorrelationId": "@variables('CorrelationId')",
                  "RawPayload": "@string(body('Parse_Message_Payload')?['rawPayload'])",
                  "ReceivedAt": "@utcNow()"
                },
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[Inbox]'))}/items"
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "retryPolicy": {
                  "type": "none"
                }
              },
              "description": "Idempotent by UNIQUE constraint on MessageId - RETRY DISABLED (Best Practice #9)"
            },
            "Determine_Template_Name": {
              "type": "Compose",
              "inputs": "@parameters('DEFAULT_SOURCE_TOPIC')",
              "runAfter": {
                "Insert_Into_Inbox": [
                  "Succeeded"
                ]
              }
            },
            "Transform_With_Liquid": {
              "type": "Liquid",
              "kind": "JsonToJson",
              "inputs": {
                "content": "@body('Parse_Message_Payload')?['rawPayload']",
                "map": {
                  "source": "LogicApp",
                  "name": "@{outputs('Determine_Template_Name')}.liquid"
                }
              },
              "runAfter": {
                "Determine_Template_Name": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "retryPolicy": {
                  "type": "none"
                }
              },
              "description": "Deterministic transformation - RETRY DISABLED (Best Practice #4)"
            },
            "Parse_Canonical_Event": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Transform_With_Liquid')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "eventType": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "eventTime": {
                      "type": "string"
                    },
                    "schemaVersion": {
                      "type": "string"
                    },
                    "contentType": {
                      "type": "string"
                    },
                    "correlationId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              },
              "runAfter": {
                "Transform_With_Liquid": [
                  "Succeeded"
                ]
              }
            },
            "Insert_Into_Outbox": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "referenceName": "sql"
                  }
                },
                "method": "post",
                "body": {
                  "MessageId": "@body('Parse_Message_Payload')?['messageId']",
                  "SourceTopic": "@parameters('DEFAULT_SOURCE_TOPIC')",
                  "CorrelationId": "@variables('CorrelationId')",
                  "RawPayload": "@string(body('Parse_Message_Payload')?['rawPayload'])",
                  "ReceivedAt": "@utcNow()"
                },
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[Outbox]'))}/items"
              },
              "runAfter": {
                "Parse_Canonical_Event": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "retryPolicy": {
                  "type": "none"
                }
              },
              "description": "Non-idempotent insert - RETRY DISABLED, outbox-processor will handle delivery (Best Practice #9)"
            },
            "Log_Message_Queued": {
              "type": "Compose",
              "inputs": {
                "correlationId": "@variables('CorrelationId')",
                "messageId": "@body('Parse_Message_Payload')?['messageId']",
                "eventType": "@body('Parse_Canonical_Event')?['eventType']",
                "event": "MessageQueued",
                "timestamp": "@utcNow()"
              },
              "runAfter": {
                "Insert_Into_Outbox": [
                  "Succeeded"
                ]
              },
              "description": "Log to Application Insights - Best Practice #7"
            },
            "Terminate_Success": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {
                "Log_Message_Queued": [
                  "Succeeded"
                ]
              },
              "description": "Terminate successfully - message processed and queued"
            }
          }
        }
      },
      "Handle_Error": {
        "type": "Scope",
        "actions": {
          "Log_Error": {
            "type": "Compose",
            "inputs": {
              "correlationId": "@variables('CorrelationId')",
              "messageId": "@body('Parse_Message_Payload')?['messageId']",
              "event": "ProcessingError",
              "error": "@result('Is_Duplicate')",
              "timestamp": "@utcNow()"
            },
            "runAfter": {},
            "description": "Log error to Application Insights - Best Practice #7"
          },
          "Terminate_Error": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Failed",
              "runError": {
                "code": "ProcessingError",
                "message": "Message processing failed - correlation ID: @{variables('CorrelationId')}"
              }
            },
            "runAfter": {
              "Log_Error": [
                "Succeeded"
              ]
            },
            "description": "Terminate with failure - processing error"
          }
        },
        "runAfter": {
          "Is_Duplicate": [
            "Failed",
            "TimedOut",
            "Skipped"
          ]
        },
        "description": "Error handling scope - Best Practice #6"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "DEFAULT_SOURCE_TOPIC": {
        "type": "String",
        "defaultValue": "customerToCanonical"
      },
      "D365_CUSTOMER_QUEUE": {
        "type": "String",
        "defaultValue": "sbq-d365finops-customer-upserts"
      }
    },
    "triggers": {
      "When_a_message_is_received_in_a_queue": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "servicebus"
            }
          },
          "method": "get",
          "path": "/@{encodeURIComponent(encodeURIComponent(parameters('D365_CUSTOMER_QUEUE')))}/messages/head",
          "queries": {
            "queueType": "Main"
          }
        },
        "recurrence": {
          "frequency": "Second",
          "interval": 30
        },
        "conditions": [
          {
            "expression": "@not(equals(coalesce(appsetting('USE_HTTP_TRIGGER_FOR_LOCAL'), 'false'), 'true'))"
          }
        ],
        "description": "Service Bus queue trigger for Azure deployment - polls every 30 seconds"
      }
    }
  },
  "kind": "Stateful"
}