LogicApp/sktestlogicapp/process-message/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Debug_Log_TriggerBody": {
        "type": "Compose",
        "inputs": "@triggerBody()",
        "runAfter": {},
        "description": "DEBUG: Log the full trigger body to validate structure (wrapping check)"
      },
      "Log_TriggerBody_To_Proxy": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost:7075/logpayload",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": "@triggerBody()"
        },
        "runAfter": {
          "Debug_Log_TriggerBody": [
            "Succeeded"
          ]
        },
        "description": "POST trigger body to ServiceBusProxy for logging"
      },
      "Initialize_Correlation_ID": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "CorrelationId",
              "type": "string",
              "value": "@{coalesce(triggerBody()?['Properties']?['CorrelationId'], triggerBody()?['CorrelationId'], guid())}"
            }
          ]
        },
        "runAfter": {},
        "description": "Extract or generate correlation ID from Service Bus message properties - Best Practice #8"
      },
      "Log_Trigger_Received": {
        "type": "Compose",
        "inputs": {
          "event": "TriggerFired",
          "timestamp": "@utcNow()",
          "workflow": "process-message",
          "triggerOutputs": "@triggerOutputs()",
          "triggerBody": "@triggerBody()",
          "message": "Service Bus trigger fired - message received from queue"
        },
        "runAfter": {
          "Initialize_Correlation_ID": [
            "Succeeded"
          ]
        },
        "description": "LOG: Trigger fired - captures full trigger output for debugging"
      },
      "Log_Request_Received": {
        "type": "Compose",
        "inputs": {
          "correlationId": "@variables('CorrelationId')",
          "event": "MessageReceived",
          "timestamp": "@utcNow()",
          "workflow": "process-message",
          "messageProperties": "@triggerBody()?['Properties']",
          "contentType": "@triggerBody()?['ContentType']"
        },
        "runAfter": {
            "Debug_Log_TriggerBody": [
              "Succeeded"
            ]
        },
        "description": "LOG: Message details - Best Practice #7"
      },
      "Parse_Message_Payload": {
        "type": "Compose",
        "inputs": {
          "triggerBodyDump": "@triggerBody()",
          "messageId": "@coalesce(if(not(empty(triggerBody()?['ContentDataJson'])), triggerBody()?['ContentDataJson']?['messageId'], if(not(empty(triggerBody()?['ContentData'])), json(base64ToString(triggerBody()?['ContentData']))?['messageId'], null)), triggerBody()?['MessageId'], 'NO_MESSAGE_ID')",
          "hasContentDataJson": "@not(empty(triggerBody()?['ContentDataJson']))",
          "hasContentData": "@not(empty(triggerBody()?['ContentData']))",
          "rawPayload": "@if(not(empty(triggerBody()?['ContentDataJson'])), triggerBody()?['ContentDataJson'], if(not(empty(triggerBody()?['ContentData'])), json(base64ToString(triggerBody()?['ContentData'])), json('{}')))",
          "businessMessageId": "@coalesce(if(not(empty(triggerBody()?['ContentDataJson'])), triggerBody()?['ContentDataJson']?['messageId'], if(not(empty(triggerBody()?['ContentData'])), json(base64ToString(triggerBody()?['ContentData']))?['messageId'], null)), 'NO_BUSINESS_MESSAGE_ID')"
        },
        "runAfter": {
          "Log_Request_Received": [
            "Succeeded"
          ]
        },
        "description": "Extract message ID and parse payload - ContentDataJson or base64 decode ContentData"
      },
      "Log_Parsed_Message_To_Proxy": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost:7075/logpayload",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": "@body('Parse_Message_Payload')"
        },
        "runAfter": {
          "Parse_Message_Payload": [
            "Succeeded"
          ]
        },
        "description": "POST parsed message payload to ServiceBusProxy for debugging"
      },
      "Detect_Entity_Type": {
        "type": "Compose",
        "inputs": {
          "eventType": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['eventType'], 'UNKNOWN')",
          "sourceEntity": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['sourceEntity'], 'UNKNOWN')",
          "entityType": "@if(contains(coalesce(body('Parse_Message_Payload')?['rawPayload']?['eventType'], ''), 'Customer'), 'Customer', if(contains(coalesce(body('Parse_Message_Payload')?['rawPayload']?['eventType'], ''), 'Vendor'), 'Vendor', if(contains(coalesce(body('Parse_Message_Payload')?['rawPayload']?['eventType'], ''), 'Item'), 'Item', 'Unknown')))"
        },
        "runAfter": {
          "Parse_Message_Payload": [
            "Succeeded"
          ]
        },
        "description": "Detect entity type from event type (Customer/Vendor/Item/Address)"
      },
      "Extract_Business_Context": {
        "type": "Compose",
        "inputs": {
          "entityType": "@body('Detect_Entity_Type')?['entityType']",
          "eventType": "@body('Detect_Entity_Type')?['eventType']",
          "sourceEntity": "@body('Detect_Entity_Type')?['sourceEntity']",
          "dataAreaId": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['dataAreaId'], 'N/A')",
          "sourceSystem": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['sourceSystem'], 'N/A')",
          "operationType": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['operationType'], 'N/A')",
          "modifiedBy": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['modifiedBy'], 'N/A')",
          "modifiedDateTime": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['modifiedDateTime'], 'N/A')",
          "primaryAccount": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['customerAccount'], body('Parse_Message_Payload')?['rawPayload']?['vendorAccount'], body('Parse_Message_Payload')?['rawPayload']?['itemId'], 'N/A')",
          "organizationName": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['organizationName'], 'N/A')",
          "groupId": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['customerGroupId'], body('Parse_Message_Payload')?['rawPayload']?['vendorGroupId'], body('Parse_Message_Payload')?['rawPayload']?['productGroupId'], 'N/A')",
          "email": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['contact']?['email'], body('Parse_Message_Payload')?['rawPayload']?['vendorContact']?['email'], 'N/A')",
          "address": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['address']?['addressDescription'], body('Parse_Message_Payload')?['rawPayload']?['addressDescription'], 'N/A')",
          "city": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['address']?['city'], body('Parse_Message_Payload')?['rawPayload']?['city'], 'N/A')",
          "itemDescription": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['itemDescription'], 'N/A')",
          "warehouseId": "@coalesce(body('Parse_Message_Payload')?['rawPayload']?['warehouseId'], 'N/A')"
        },
        "runAfter": {
          "Detect_Entity_Type": [
            "Succeeded"
          ]
        },
        "description": "Extract business context dynamically based on entity type for troubleshooting across all D365 entities"
      },
      "Log_Message_Decoded": {
        "type": "Compose",
        "inputs": {
          "event": "MessageDecoded",
          "timestamp": "@utcNow()",
          "correlationId": "@variables('CorrelationId')",
          "messageId": "@{body('Parse_Message_Payload')?['messageId']}",
          "hasContentDataJson": "@{body('Parse_Message_Payload')?['hasContentDataJson']}",
          "hasContentData": "@{body('Parse_Message_Payload')?['hasContentData']}",
          "payloadType": "@{coalesce(string(body('Parse_Message_Payload')?['rawPayload']?['eventType']), 'UNKNOWN')}",
          "payloadLength": "@length(coalesce(string(body('Parse_Message_Payload')?['rawPayload']), ''))",
          "businessContext": "@body('Extract_Business_Context')",
          "message": "Message parsed successfully"
        },
        "runAfter": {
          "Extract_Business_Context": [
            "Succeeded"
          ]
        },
        "description": "LOG: Message parsed from ContentDataJson or base64 decoded with business context"
      },
      "Calculate_Idempotency_Key": {
        "type": "Compose",
        "inputs": "@concat(\n  variables('CorrelationId'),\n  '|',\n  body('Parse_Message_Payload')?['messageId']\n)",
        "runAfter": {
          "Log_Message_Decoded": [
            "Succeeded"
          ]
        },
        "description": "Calculate idempotency key using configured strategy (default: correlationId|messageId for fast duplicate detection)"
      },
      "Check_Duplicate_In_Cache": {
        "type": "Function",
        "inputs": {
          "function": "CheckDuplicate",
          "body": {
            "idempotencyKey": "@body('Calculate_Idempotency_Key')"
          }
        },
        "runAfter": {
          "Calculate_Idempotency_Key": [
            "Succeeded"
          ]
        },
        "runtimeConfiguration": {
          "retryPolicy": {
            "type": "exponential",
            "count": 2,
            "interval": "PT1S",
            "maximumInterval": "PT5S",
            "minimumInterval": "PT1S"
          }
        },
        "description": "FAST PATH: Check if duplicate in function memory cache (5-min TTL, zero DB calls) - Best Practice #10"
      },
      "Query_Inbox": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "sql"
            }
          },
          "method": "get",
          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[Inbox]'))}/items",
          "queries": {
            "$filter": "MessageId eq '@{body('Parse_Message_Payload')?['messageId']}'",
            "$top": 1
          }
        },
        "runAfter": {
          "Check_Duplicate_In_Cache": [
            "Succeeded"
          ]
        },
        "runtimeConfiguration": {
          "retryPolicy": {
            "type": "exponential",
            "count": 3,
            "interval": "PT5S",
            "maximumInterval": "PT20S",
            "minimumInterval": "PT5S"
          }
        },
        "description": "SAFETY NET: Query DB if cache-based duplicate check didn't catch it (rare cross-execution scenario) - Idempotent read - RETRY ENABLED (Best Practice #9)"
      },
      "Check_Inbox_For_Duplicate": {
        "type": "Compose",
        "inputs": {
          "queryResults": "@body('Query_Inbox')?['value']",
          "resultCount": "@length(coalesce(body('Query_Inbox')?['value'], createArray()))",
          "isDuplicate": "@greater(length(coalesce(body('Query_Inbox')?['value'], createArray())), 0)"
        },
        "runAfter": {
          "Query_Inbox": [
            "Succeeded"
          ]
        },
        "description": "Check if query returned any results - indicates duplicate"
      },
      "Is_Duplicate": {
        "type": "If",
        "expression": {
          "or": [
            {
              "equals": [
                "@body('Check_Duplicate_In_Cache')?['isDuplicate']",
                true
              ]
            },
            {
              "equals": [
                "@body('Check_Inbox_For_Duplicate')?['isDuplicate']",
                true
              ]
            }
          ]
        },
        "actions": {
          "Log_Duplicate_Detected": {
            "type": "Compose",
            "inputs": {
              "correlationId": "@variables('CorrelationId')",
              "messageId": "@body('Parse_Message_Payload')?['messageId']",
              "event": "DuplicateDetected",
              "timestamp": "@utcNow()",
              "entityType": "@body('Extract_Business_Context')?['entityType']",
              "primaryAccount": "@body('Extract_Business_Context')?['primaryAccount']",
              "organizationName": "@body('Extract_Business_Context')?['organizationName']",
              "modifiedBy": "@body('Extract_Business_Context')?['modifiedBy']",
              "modifiedDateTime": "@body('Extract_Business_Context')?['modifiedDateTime']",
              "dataAreaId": "@body('Extract_Business_Context')?['dataAreaId']",
              "eventType": "@body('Extract_Business_Context')?['eventType']",
              "operationType": "@body('Extract_Business_Context')?['operationType']",
              "businessContext": "@body('Extract_Business_Context')",
              "severity": "Warning"
            },
            "runAfter": {},
            "description": "Log duplicate to Application Insights with entity-specific business context"
          },
          "Terminate_Duplicate": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Succeeded"
            },
            "runAfter": {
              "Log_Duplicate_Detected": [
                "Succeeded"
              ]
            },
            "description": "Terminate successfully - duplicate message already processed"
          }
        },
        "runAfter": {
          "Check_Inbox_For_Duplicate": [
            "Succeeded"
          ]
        },
        "else": {
          "actions": {
            "Insert_Into_Inbox": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "referenceName": "sql"
                  }
                },
                "method": "post",
                 "body": {
                  "MessageId": "@body('Parse_Message_Payload')?['messageId']",
                  "SourceTopic": "@parameters('DEFAULT_SOURCE_TOPIC')",
                  "CorrelationId": "@variables('CorrelationId')",
                  "RawPayload": "@string(body('Parse_Message_Payload')?['rawPayload'])",
                  "ReceivedAt": "@utcNow()"
                },
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[Inbox]'))}/items"
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "retryPolicy": {
                  "type": "none"
                }
              },
              "description": "Idempotent by UNIQUE constraint on MessageId - RETRY DISABLED (Best Practice #9)"
            },
            "Determine_Template_Name": {
              "type": "Compose",
              "inputs": "@parameters('TEMPLATE_NAME')",
              "runAfter": {
                "Insert_Into_Inbox": [
                  "Succeeded"
                ]
              },
              "description": "Template name from parameter - uses Liquid template specified in deployment"
            },
            "Transform_With_Liquid": {
              "type": "Liquid",
              "kind": "JsonToJson",
              "inputs": {
                "content": "@body('Parse_Message_Payload')?['rawPayload']",
                "map": {
                  "source": "LogicApp",
                  "name": "@{outputs('Determine_Template_Name')}.liquid"
                }
              },
              "runAfter": {
                "Determine_Template_Name": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "retryPolicy": {
                  "type": "none"
                }
              },
              "description": "Deterministic transformation - RETRY DISABLED (Best Practice #4)"
            },
            "Parse_Canonical_Event": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Transform_With_Liquid')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "eventType": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "eventTime": {
                      "type": "string"
                    },
                    "schemaVersion": {
                      "type": "string"
                    },
                    "contentType": {
                      "type": "string"
                    },
                    "correlationId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              },
              "runAfter": {
                "Transform_With_Liquid": [
                  "Succeeded"
                ]
              }
            },
            "Insert_Into_Outbox": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "referenceName": "sql"
                  }
                },
                "method": "post",
                "body": {
                  "MessageId": "@body('Parse_Message_Payload')?['messageId']",
                  "Destination": "@parameters('OUTPUT_TOPIC')",
                  "CorrelationId": "@variables('CorrelationId')",
                  "Payload": "@string(body('Transform_With_Liquid'))",
                  "CreatedAt": "@utcNow()",
                  "Sent": false,
                  "RetryCount": 0
                },
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[Outbox]'))}/items"
              },
              "runAfter": {
                "Parse_Canonical_Event": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "retryPolicy": {
                  "type": "none"
                }
              },
              "description": "Insert canonical event to Outbox with OUTPUT_TOPIC as destination"
            },
            "Publish_To_Service_Bus_Topic": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "referenceName": "servicebus"
                  }
                },
                "method": "post",
                "body": {
                  "ContentData": "@base64(string(body('Transform_With_Liquid')))",
                  "Properties": {
                    "CorrelationId": "@variables('CorrelationId')",
                    "MessageId": "@body('Parse_Message_Payload')?['messageId']",
                    "EntityType": "@body('Extract_Business_Context')?['entityType']",
                    "SourceSystem": "@body('Extract_Business_Context')?['sourceSystem']"
                  }
                },
                "path": "/@{encodeURIComponent(encodeURIComponent(parameters('OUTPUT_TOPIC')))}/messages"
              },
              "runAfter": {
                "Insert_Into_Outbox": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "retryPolicy": {
                  "type": "none"
                }
              },
              "description": "Publish canonical event to output topic specified in parameter"
            },
            "Log_Message_Queued": {
              "type": "Compose",
              "inputs": {
                "correlationId": "@variables('CorrelationId')",
                "messageId": "@body('Parse_Message_Payload')?['messageId']",
                "eventType": "@body('Parse_Canonical_Event')?['eventType']",
                "event": "MessageQueued",
                "timestamp": "@utcNow()",
                "entityType": "@body('Extract_Business_Context')?['entityType']",
                "primaryAccount": "@body('Extract_Business_Context')?['primaryAccount']",
                "organizationName": "@body('Extract_Business_Context')?['organizationName']",
                "modifiedBy": "@body('Extract_Business_Context')?['modifiedBy']",
                "modifiedDateTime": "@body('Extract_Business_Context')?['modifiedDateTime']",
                "dataAreaId": "@body('Extract_Business_Context')?['dataAreaId']",
                "operationType": "@body('Extract_Business_Context')?['operationType']",
                "sourceEntity": "@body('Extract_Business_Context')?['sourceEntity']",
                "outputTopic": "@parameters('OUTPUT_TOPIC')",
                "businessContext": "@body('Extract_Business_Context')",
                "severity": "Information"
              },
              "runAfter": {
                "Publish_To_Service_Bus_Topic": [
                  "Succeeded"
                ]
              },
              "description": "Log to Application Insights - message published to output topic"
            },
            "Terminate_Success": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {
                "Log_Message_Queued": [
                  "Succeeded"
                ]
              },
              "description": "Terminate successfully - message processed and queued"
            }
          }
        }
      },
      "Handle_Error": {
        "type": "Scope",
        "actions": {
          "Log_Error": {
            "type": "Compose",
            "inputs": {
              "correlationId": "@variables('CorrelationId')",
              "messageId": "@{coalesce(body('Parse_Message_Payload')?['messageId'], 'UNKNOWN')}",
              "event": "ProcessingError",
              "error": "@result('Is_Duplicate')",
              "timestamp": "@utcNow()",
              "entityType": "@coalesce(body('Extract_Business_Context')?['entityType'], 'UNKNOWN')",
              "primaryAccount": "@coalesce(body('Extract_Business_Context')?['primaryAccount'], 'N/A')",
              "modifiedBy": "@coalesce(body('Extract_Business_Context')?['modifiedBy'], 'N/A')",
              "dataAreaId": "@coalesce(body('Extract_Business_Context')?['dataAreaId'], 'N/A')",
              "businessContext": "@if(not(empty(outputs('Extract_Business_Context'))), body('Extract_Business_Context'), createObject())",
              "severity": "Error"
            },
            "runAfter": {},
            "description": "Log error to Application Insights with entity-specific business context - Best Practice #7"
          },
          "Terminate_Error": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Failed",
              "runError": {
                "code": "ProcessingError",
                "message": "Message processing failed - correlation ID: @{variables('CorrelationId')}"
              }
            },
            "runAfter": {
              "Log_Error": [
                "Succeeded"
              ]
            },
            "description": "Terminate with failure - processing error"
          }
        },
        "runAfter": {
          "Is_Duplicate": [
            "Failed",
            "TimedOut",
            "Skipped"
          ]
        },
        "description": "Error handling scope - Best Practice #6"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "IDEMPOTENCY_KEY_STRATEGY": {
        "type": "String",
        "defaultValue": "correlationId|messageId",
        "description": "Strategy for deduplication key: 'correlationId|messageId' (balanced), 'messageId' (strict), or 'correlationId|messageId|entityId' (entity-aware)"
      },
      "INPUT_QUEUE": {
        "type": "String",
        "defaultValue": "sbq-d365finops-customer-upserts",
        "description": "Service Bus queue to listen to"
      },
      "TEMPLATE_NAME": {
        "type": "String",
        "defaultValue": "customerToCanonical",
        "description": "Liquid template name for transformation"
      },
      "OUTPUT_TOPIC": {
        "type": "String",
        "defaultValue": "sbt-d365-finops-CustomerChanged",
        "description": "Service Bus topic to publish canonical event"
      },
      "DEFAULT_SOURCE_TOPIC": {
        "type": "String",
        "defaultValue": "customerToCanonical"
      },
      "D365_CUSTOMER_QUEUE": {
        "type": "String",
        "defaultValue": "sbq-d365finops-customer-upserts"
      },
      "D365_CUSTOMERADDRESS_QUEUE": {
        "type": "String",
        "defaultValue": "sbq-d365finops-customeraddress-upserts"
      },
      "D365_VENDOR_QUEUE": {
        "type": "String",
        "defaultValue": "sbq-d365finops-vendor-upserts"
      },
      "D365_VENDORADDRESS_QUEUE": {
        "type": "String",
        "defaultValue": "sbq-d365finops-vendoraddress-upserts"
      },
      "D365_ITEM_QUEUE": {
        "type": "String",
        "defaultValue": "sbq-d365finops-item-upserts"
      },
      "D365_ITEMUNITCONVERSION_QUEUE": {
        "type": "String",
        "defaultValue": "sbq-d365finops-itemunitconversion-upserts"
      }
    },
    "triggers": {
      "When_a_message_is_received_in_a_queue": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "servicebus"
            }
          },
          "method": "get",
          "path": "/@{encodeURIComponent(encodeURIComponent(parameters('INPUT_QUEUE')))}/messages/head",
          "queries": {
            "queueType": "Main"
          }
        },
        "recurrence": {
          "frequency": "Second",
          "interval": 30
        },
        "conditions": [
          {
            "expression": "@not(equals(coalesce(appsetting('USE_HTTP_TRIGGER_FOR_LOCAL'), 'false'), 'true'))"
          }
        ],
        "description": "Service Bus queue trigger - retrieves messages from INPUT_QUEUE parameter. Polls every 30 seconds"
      }
    }
  },
  "kind": "Stateful"
}